.projects-container-style {
    background: rgb(168,250,253);
    background: radial-gradient(circle, rgba(168,250,253,1) 0%, rgba(25,102,215,0.8914916308320203) 100%);
    border-radius: 4%;
    width: 90%;
    margin-inline: auto;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.projects-heading {
    font-family: "Oswald";
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-align: center;
}

.img-style {
    border-radius: 5%;
    height: 250px;
}

.card-style {
    border-radius: 5%;
    overflow: hidden;
    animation: project-anim 4s linear infinite;
}

.card-style:hover {
    animation-play-state: paused;
}

.row-syle {
    margin-top: 4px;
}

.li-style {
    text-align: left;
}

a.projects-links:link {
    color: blue;
    text-decoration: none;
}

a.projects-links:visited {
    color: purple;
    text-decoration: none;
}

a.projects-links:hover {
    color: #FC9304;
    text-decoration: underline;
}

a.projects-links:active {
    color: green;
    text-decoration: underline;
}

@keyframes project-anim {
    0% {
        transform: rotate(-3deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
    .projects-container-style {
        width: 95%;
    }

    .projects-heading {
        font-size: 2.5rem;
    }
    
    .img-style {
        border-radius: 5%;
        height: 200px;
    }

    .projects-card-title {
        font-size: 1.2rem !important;
    }

    .projects-card-text {
        font-size: 0.9rem !important;
    }

    .projects-card-footer {
        font-size: 1rem !important;
    }
}
   
   /* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .projects-container-style {
        border-radius: 0%;
        width: 100%;
    }
    
    .projects-heading {
        font-size: 2.5rem;
    }
    
    .img-style {
        border-radius: 5%;
        height: 170px;
    }

    .projects-card-title {
        font-size: 1.1rem !important;
    }

    .projects-card-text {
        font-size: 0.8rem !important;
    }

    .projects-card-footer {
        font-size: 0.9rem !important;
    }
}

   /* Folding devices */
@media (max-width: 300px) { 
    .projects-container-style {
        border-radius: 0%;
        width: 100%;
    }
    
    .projects-heading {
        font-size: 2rem;
    }
    
    .img-style {
        border-radius: 5%;
        height: 140px;
    }

    .projects-card-title {
        font-size: 1rem !important;
    }

    .projects-card-text {
        font-size: 0.7rem !important;
    }

    .projects-card-footer {
        font-size: 0.8rem !important;
    }
}